fastapi
uvicorn[standard]
aiogram==3.3.0
python-dotenv
pydantic-settings
sqlalchemy==2.0.25
alembic==1.13.1
asyncpg==0.29.0
greenlet
python-multipart
aiofiles
openai          # Клиент для DeepSeek
gTTS            # Голос
SpeechRecognition # Распознавание речи (бесплатно)
pydub           # Конвертация аудио (требует ffmpeg)